In [28]:
import pandas as pd
import numpy as np 
import re
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity 
from sentence_transformers import SentenceTransformer
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from rank_bm25 import BM25Okapi #better version of tfidf
import warnings
warnings.filterwarnings("ignore")

In [6]:
anime_data=pd.read_csv(r'D:\NYUMSDS_courses\Projects\ConsumerReviewData\imdb_anime.csv', on_bad_lines='skip')

In [7]:
anime_data.head()
print(anime_data.columns)
print(len(anime_data))

Index(['Title', 'Genre', 'User Rating', 'Number of Votes', 'Runtime', 'Year',
       'Summary', 'Stars', 'Certificate', 'Metascore', 'Gross', 'Episode',
       'Episode Title'],
      dtype='object')
45717

In [8]:
col_select=['Title', 'Summary']
new_df=anime_data[col_select]
new_df['Summary'].fillna('', inplace=True)
new_df['Summary']=new_df['Title']+'. '+new_df['Summary'].map(str)
new_df.dropna(inplace=True)
new_df.drop_duplicates(inplace=True)

In [9]:
new_df.head()

,Title,Summary
0,One Piece,One Piece. Follows the adventures of Monkey D....
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,Teenage Mutant Ninja Turtles: Mutant Mayhem. T...
2,The Super Mario Bros. Movie,The Super Mario Bros. Movie. A plumber named M...
3,Attack on Titan,Attack on Titan. After his hometown is destroy...
4,Jujutsu Kaisen,Jujutsu Kaisen. A boy swallows a cursed talism...

In [10]:
def movie_search_term(df:pd.DataFrame, title_col:str, term: str):
    df[title_col]=df[title_col].str.lower()
    movies=df[title_col].values
    options=[(i,m) for i,m in enumerate(movies) for word in m.split(' ') if word==term.lower()]
    return options

In [11]:
df=new_df
title='Title'
term='One'
movie_search_term(df=df, title_col=title, term=term)

[(0, 'one piece'),
 (44, 'one punch man'),
 (72, 'one piece film: red'),
 (197, 'one piece: the movie'),
 (287, 'one piece: stampede'),
 (334, 'one piece film: gold'),
 (337, 'one piece film z'),
 (456, 'one piece: strong world'),
 (548, 'one piece: baron omatsuri and the secret island'),
 (593, 'tenpuru -no one can live on loneliness-'),
 (664, 'a thousand & one nights'),
 (693, 'one piece: heart of gold'),
 (695, 'one piece: clockwork island adventure'),
 (756, 'one piece: dead end adventure'),
 (848,
  "one piece - episode of east blue: luffy and his four friends' great adventure"),
 (911, 'level 1 demon lord and one room hero'),
 (1014,
  'one piece: episode of alabasta - the desert princess and the pirates'),
 (1016, 'one piece: episode of skypiea'),
 (1033,
  'one piece: episode of nami - tears of a navigator and the bonds of friends'),
 (1060, 'one piece: the cursed holy sword'),
 (1080, 'one piece: episode of luffy - adventure on hand island'),
 (1131, "one piece: 3d2y - overcome ace's death! luffy's vow to his friends"),
 (1136, "one piece: chopper's kingdom in the strange animal island"),
 (1196, 'one piece: episode of merry - mou hitori no nakama no monogatari'),
 (1255,
  'dream 9 toriko x one piece x dragon ball z super collaboration special!!'),
 (1270, 'are you really the only one who likes me'),
 (1323, "one piece tv special: adventure in the ocean's navel"),
 (1334, 'one piece: the giant mechanical soldier of karakuri castle'),
 (1401, 'one piece film: strong world'),
 (1462, 'one piece: defeat him! the pirate ganzack!'),
 (1476,
  'one piece: episode of chopper plus - bloom in the winter, miracle sakura'),
 (1540, 'one outs'),
 (1764, 'one piece 3d: straw hat chase'),
 (1832, 'cat shit one'),
 (1896, 'one piece: luffy senpai ouen kikaku! barto no himitsu no heya!'),
 (2025, 'one piece: adventure of nebulandia'),
 (2152, 'case closed: episode one - the great detective turned small'),
 (2166,
  'one piece: episode of sabo - bond of three brothers, a miraculous reunion and an inherited will'),
 (2492, 'one piece: dream soccer king!'),
 (2570, 'one piece: romance dawn story'),
 (2860, 'one piece: protect! the last great stage'),
 (2978, 'one room'),
 (3121, 'one week friends'),
 (3229, 'one punch man: ova 2 #03 genos to kioku sôshitsu'),
 (3391, "one piece: jango's dance carnival"),
 (3529, "one piece: open upon the great sea! a father's huge, huge dream!"),
 (3568, 'one punch man - wanpanman: bang, who is too overbearing'),
 (3781, 'one piece: mezase! kaizoku yakyu o'),
 (4316, 'mobile suit gundam ms igloo: the hidden one year war'),
 (4606, 'one million-year trip: bandar book'),
 (4625, 'one stormy night: secret friends'),
 (5051, 'one arm'),
 (5415, 'one piece pilot 1'),
 (5476, 'one piece 3d gekisou! trap coaster'),
 (5701, 'one punch man: ova 2 #01 saitama to sokosoko no noryokumono-tachi'),
 (5722, 'one pound gospel'),
 (5789, 'one piece: promotion reflection'),
 (6090, 'one punch man: ova 2 #02 ossan-tachi to tsuri'),
 (6253, 'one punch man - wanpanman: the shadow that snuck up too close'),
 (6389,
  'one punch man: ova 2 #05 puri-puri prisoner to datsugoku shûjin-tachi'),
 (6539,
  'one piece: otoshidama special - tokubetsu hou mugiwara kaizoku-dan no himitsu!'),
 (6712, 'the three-eyed one'),
 (6733, 'the tiny one makes it big'),
 (7803,
  'one punch man: ova 2 #06 zombieman satsujin jiken 2 - fubuki no sansô to samugari-tachi'),
 (8167, 'one piece pilot 2'),
 (8208, 'one piece pilot 3'),
 (8314, 'one night, hot springs'),
 (9374, "super jojo-jojo's one day"),
 (9746, 'find your one way'),
 (9772, 'nill point work one'),
 (9902, 'coolrunnings: one on one'),
 (9902, 'coolrunnings: one on one'),
 (9906, 'daft punk: one more time'),
 (12230, 'one piece'),
 (12231, 'one piece'),
 (12232, 'one piece'),
 (12234, 'one piece'),
 (12245, 'one piece'),
 (12252, 'one piece'),
 (12284, 'one piece'),
 (12285, 'one piece'),
 (12286, 'one piece'),
 (12287, 'one piece'),
 (12366, 'one piece'),
 (12367, 'one piece'),
 (12368, 'one piece'),
 (12369, 'one piece'),
 (12370, 'one piece'),
 (12371, 'one piece'),
 (12372, 'one piece'),
 (12384, 'one piece'),
 (12427, 'one piece'),
 (12428, 'one piece'),
 (12429, 'one piece'),
 (12430, 'one piece'),
 (12431, 'one piece'),
 (12432, 'one piece'),
 (12433, 'one piece'),
 (12434, 'one piece'),
 (12435, 'one piece'),
 (12436, 'one piece'),
 (12437, 'one piece'),
 (12441, 'one piece'),
 (12442, 'one piece'),
 (12444, 'one piece'),
 (12456, 'one piece'),
 (12476, 'one piece'),
 (12477, 'one piece'),
 (12478, 'one piece'),
 (12479, 'one piece'),
 (12487, 'one piece'),
 (12499, 'one piece'),
 (12500, 'one piece'),
 (12501, 'one piece'),
 (12502, 'one piece'),
 (12503, 'one piece'),
 (12504, 'one piece'),
 (12513, 'one piece'),
 (12514, 'one piece'),
 (12515, 'one piece'),
 (12517, 'one piece'),
 (12519, 'one piece'),
 (12520, 'one piece'),
 (12527, 'one piece'),
 (12528, 'one piece'),
 (12529, 'one piece'),
 (12530, 'one piece'),
 (12542, 'one piece'),
 (12543, 'one piece'),
 (12544, 'one piece'),
 (12545, 'one piece'),
 (12546, 'one piece'),
 (12548, 'one piece'),
 (12550, 'one piece'),
 (12587, 'one piece'),
 (12592, 'one piece'),
 (12593, 'one piece'),
 (12594, 'one piece'),
 (12595, 'one piece'),
 (12596, 'one piece'),
 (12597, 'one piece'),
 (12609, 'one piece'),
 (12611, 'one piece'),
 (12612, 'one piece'),
 (12613, 'one piece'),
 (12614, 'one piece'),
 (12615, 'one piece'),
 (12618, 'one piece'),
 (12647, 'one piece'),
 (12648, 'one piece'),
 (12649, 'one piece'),
 (12650, 'one piece'),
 (12651, 'one piece'),
 (12660, 'one piece'),
 (12729, 'one piece'),
 (12730, 'one piece'),
 (12731, 'one piece'),
 (12732, 'one piece'),
 (12733, 'one piece'),
 (12734, 'one piece'),
 (12735, 'one piece'),
 (12736, 'one piece'),
 (12737, 'one piece'),
 (12738, 'one piece'),
 (12739, 'one piece'),
 (12740, 'one piece'),
 (12741, 'one piece'),
 (12742, 'one piece'),
 (12743, 'one piece'),
 (12744, 'one piece'),
 (12745, 'one piece'),
 (12746, 'one piece'),
 (12790, 'one piece'),
 (12804, 'one piece'),
 (12888, 'one piece'),
 (12889, 'one piece'),
 (12890, 'one piece'),
 (12891, 'one piece'),
 (12892, 'one piece'),
 (12893, 'one piece'),
 (12894, 'one piece'),
 (12895, 'one piece'),
 (12896, 'one piece'),
 (12897, 'one piece'),
 (12898, 'one piece'),
 (12899, 'one piece'),
 (12900, 'one piece'),
 (12908, 'one piece'),
 (12909, 'one piece'),
 (12910, 'one piece'),
 (12912, 'one piece'),
 (12913, 'one piece'),
 (12945, 'one piece'),
 (12998, 'one piece'),
 (12999, 'one piece'),
 (13018, 'one piece'),
 (13019, 'one piece'),
 (13020, 'one piece'),
 (13021, 'one piece'),
 (13022, 'one piece'),
 (13023, 'one piece'),
 (13024, 'one piece'),
 (13025, 'one piece'),
 (13026, 'one piece'),
 (13027, 'one piece'),
 (13029, 'one piece'),
 (13035, 'one piece'),
 (13040, 'one piece'),
 (13042, 'one piece'),
 (13043, 'one piece'),
 (13044, 'one piece'),
 (13057, 'one piece'),
 (13058, 'one piece'),
 (13059, 'one piece'),
 (13060, 'one piece'),
 (13117, 'one piece'),
 (13118, 'one piece'),
 (13143, 'one piece'),
 (13199, 'one piece'),
 (13200, 'one piece'),
 (13201, 'one piece'),
 (13202, 'one piece'),
 (13203, 'one piece'),
 (13204, 'one piece'),
 (13205, 'one piece'),
 (13324, 'one piece'),
 (13325, 'one piece'),
 (13326, 'one piece'),
 (13327, 'one piece'),
 (13328, 'one piece'),
 (13329, 'one piece'),
 (13330, 'one piece'),
 (13331, 'one piece'),
 (13332, 'one piece'),
 (13333, 'one piece'),
 (13334, 'one piece'),
 (13335, 'one piece'),
 (13336, 'one piece'),
 (13337, 'one piece'),
 (13338, 'one piece'),
 (13339, 'one piece'),
 (13370, 'one piece'),
 (13371, 'one piece'),
 (13372, 'one piece'),
 (13373, 'one piece'),
 (13374, 'one piece'),
 (13375, 'one piece'),
 (13377, 'one piece'),
 (13378, 'one piece'),
 (13379, 'one piece'),
 (13380, 'one piece'),
 (13381, 'one piece'),
 (13382, 'one piece'),
 (13383, 'one piece'),
 (13384, 'one piece'),
 (13385, 'one piece'),
 (13386, 'one piece'),
 (13387, 'one piece'),
 (13388, 'one piece'),
 (13389, 'one piece'),
 (13390, 'one piece'),
 (13391, 'one piece'),
 (13392, 'one piece'),
 (13393, 'one piece'),
 (13394, 'one piece'),
 (13395, 'one piece'),
 (13396, 'one piece'),
 (13420, 'one piece'),
 (13421, 'one piece'),
 (13422, 'one piece'),
 (13435, 'one piece'),
 (13436, 'one piece'),
 (13437, 'one piece'),
 (13438, 'one piece'),
 (13439, 'one piece'),
 (13440, 'one piece'),
 (13441, 'one piece'),
 (13442, 'one piece'),
 (13460, 'one piece'),
 (13461, 'one piece'),
 (13462, 'one piece'),
 (13463, 'one piece'),
 (13464, 'one piece'),
 (13465, 'one piece'),
 (13495, 'one piece'),
 (13496, 'one piece'),
 (13517, 'one piece'),
 (13518, 'one piece'),
 (13519, 'one piece'),
 (13520, 'one piece'),
 (13521, 'one piece'),
 (13522, 'one piece'),
 (13523, 'one piece'),
 (13524, 'one piece'),
 (13525, 'one piece'),
 (13537, 'one piece'),
 (13538, 'one piece'),
 (13539, 'one piece'),
 (13540, 'one piece'),
 (13541, 'one piece'),
 (13542, 'one piece'),
 (13543, 'one piece'),
 (13544, 'one piece'),
 (13545, 'one piece'),
 (13546, 'one piece'),
 (13547, 'one piece'),
 (13549, 'one piece'),
 (13574, 'one piece'),
 (13575, 'one piece'),
 (13587, 'one piece'),
 (13588, 'one piece'),
 (13589, 'one piece'),
 (13590, 'one piece'),
 (13592, 'one piece'),
 (13636, 'one piece'),
 (13637, 'one piece'),
 (13638, 'one piece'),
 (13639, 'one piece'),
 (13640, 'one piece'),
 (13641, 'one piece'),
 (13675, 'one piece'),
 (13676, 'one piece'),
 (13677, 'one piece'),
 (13678, 'one piece'),
 (13679, 'one piece'),
 (13680, 'one piece'),
 (13681, 'one piece'),
 (13684, 'one piece'),
 (13685, 'one piece'),
 (13686, 'one piece'),
 (13687, 'one piece'),
 (13700, 'one piece'),
 (13701, 'one piece'),
 (13703, 'one piece'),
 (13718, 'one piece'),
 (13719, 'one piece'),
 (13720, 'one piece'),
 (13721, 'one piece'),
 (13722, 'one piece'),
 (13724, 'one piece'),
 (13725, 'one piece'),
 (13756, 'one piece'),
 (13757, 'one piece'),
 (13758, 'one piece'),
 (13776, 'one piece'),
 (13777, 'one piece'),
 (13778, 'one piece'),
 (13779, 'one piece'),
 (13780, 'one piece'),
 (13796, 'one piece'),
 (13797, 'one piece'),
 (13798, 'one piece'),
 (13799, 'one piece'),
 (13800, 'one piece'),
 (13801, 'one piece'),
 (13814, 'one piece'),
 (13834, 'one piece'),
 (13835, 'one piece'),
 (13836, 'one piece'),
 (13837, 'one piece'),
 (13838, 'one piece'),
 (13855, 'one piece'),
 (13856, 'one piece'),
 (13857, 'one piece'),
 (13858, 'one piece'),
 (13859, 'one piece'),
 (13860, 'one piece'),
 (13874, 'one piece'),
 (13876, 'one piece'),
 (13877, 'one piece'),
 (13878, 'one piece'),
 (13882, 'one piece'),
 (13883, 'one piece'),
 (13884, 'one piece'),
 (13885, 'one piece'),
 (13886, 'one piece'),
 (13887, 'one piece'),
 (13918, 'one piece'),
 (13924, 'one piece'),
 (13925, 'one piece'),
 (13926, 'one piece'),
 (13927, 'one piece'),
 (13928, 'one piece'),
 (13929, 'one piece'),
 (13930, 'one piece'),
 (13931, 'one piece'),
 (13932, 'one piece'),
 (13933, 'one piece'),
 (13934, 'one piece'),
 (13986, 'one piece'),
 (13987, 'one piece'),
 (13988, 'one piece'),
 (14014, 'one piece'),
 (14021, 'one piece'),
 (14029, 'one piece'),
 (14030, 'one piece'),
 (14060, 'one piece'),
 (14141, 'one piece'),
 (14142, 'one piece'),
 (14147, 'one piece'),
 (14181, 'one piece'),
 (14186, 'one piece'),
 (14292, 'one piece'),
 (14365, 'one piece'),
 (14412, 'one piece'),
 (14413, 'one piece'),
 (14414, 'one piece'),
 (14415, 'one piece'),
 (14427, 'one piece'),
 (14428, 'one piece'),
 (14429, 'one piece'),
 (14513, 'one piece'),
 (14539, 'one piece'),
 (14545, 'one piece'),
 (14595, 'one piece'),
 (14596, 'one piece'),
 (14597, 'one piece'),
 (14598, 'one piece'),
 (14599, 'one piece'),
 (14652, 'one piece'),
 (14653, 'one piece'),
 (14654, 'one piece'),
 (14655, 'one piece'),
 (14656, 'one piece'),
 (14723, 'one piece'),
 (14725, 'one piece'),
 (14726, 'one piece'),
 (14727, 'one piece'),
 (14752, 'one piece'),
 (14753, 'one piece'),
 (14754, 'one piece'),
 (14922, 'one piece'),
 (14923, 'one piece'),
 (14924, 'one piece'),
 (14927, 'one piece'),
 (15011, 'one piece'),
 (15064, 'one piece'),
 (15066, 'one piece'),
 (15067, 'one piece'),
 (15068, 'one piece'),
 (15069, 'one piece'),
 (15149, 'one piece'),
 (15150, 'one piece'),
 (15151, 'one piece'),
 (15183, 'one piece'),
 (15201, 'one piece'),
 (15202, 'one piece'),
 (15228, 'one piece'),
 (15242, 'one piece'),
 (15258, 'one piece'),
 (15260, 'one piece'),
 (15261, 'one piece'),
 (15354, 'one piece'),
 (15355, 'one piece'),
 (15398, 'one piece'),
 (15399, 'one piece'),
 (15406, 'one piece'),
 (15428, 'one piece'),
 (15429, 'one piece'),
 (15430, 'one piece'),
 (15431, 'one piece'),
 (15484, 'one piece'),
 (15485, 'one piece'),
 (15486, 'one piece'),
 (15605, 'one piece'),
 (15620, 'one piece'),
 (15621, 'one piece'),
 (15737, 'one piece'),
 (15747, 'one piece'),
 (15748, 'one piece'),
 (15791, 'one piece'),
 (15794, 'one piece'),
 (15875, 'one piece'),
 (15885, 'one piece'),
 (15886, 'one piece'),
 (15887, 'one piece'),
 (16035, 'one piece'),
 (16055, 'one piece'),
 (16075, 'one piece'),
 (16143, 'one piece'),
 (16215, 'one piece'),
 (16225, 'one piece'),
 (16226, 'one piece'),
 (16231, 'one piece'),
 (16246, 'one piece'),
 (16251, 'one piece'),
 (16273, 'one piece'),
 (16274, 'one piece'),
 (16275, 'one piece'),
 (16292, 'one piece'),
 (16293, 'one piece'),
 (16322, 'one piece'),
 (16353, 'one piece'),
 (16361, 'one piece'),
 (16365, 'one piece'),
 (16375, 'one piece'),
 (16412, 'one piece'),
 (16431, 'one piece'),
 (16435, 'one piece'),
 (16436, 'one piece'),
 (16491, 'one piece'),
 (16492, 'one piece'),
 (16696, 'one piece'),
 (16712, 'one piece'),
 (16888, 'one piece'),
 (16894, 'one piece'),
 (16927, 'one piece'),
 (16941, 'one piece'),
 (16942, 'one piece'),
 (16943, 'one piece'),
 (16998, 'one piece'),
 (17022, 'one piece'),
 (17039, 'one piece'),
 (17040, 'one piece'),
 (17080, 'one piece'),
 (17081, 'one piece'),
 (17082, 'one piece'),
 (17083, 'one piece'),
 (17085, 'one piece'),
 (17168, 'one piece'),
 (17169, 'one piece'),
 (17170, 'one piece'),
 (17171, 'one piece'),
 (17172, 'one piece'),
 (17194, 'one piece'),
 (17195, 'one piece'),
 (17261, 'one piece'),
 (17262, 'one piece'),
 (17263, 'one piece'),
 (17264, 'one piece'),
 (17285, 'one piece'),
 (17286, 'one piece'),
 (17354, 'one piece'),
 (17379, 'one piece'),
 (17410, 'one piece'),
 (17464, 'one piece'),
 (17496, 'one piece'),
 (17573, 'one piece'),
 (17618, 'one piece'),
 (17624, 'one piece'),
 (17659, 'one piece'),
 (17660, 'one piece'),
 (17696, 'one piece'),
 (17697, 'one piece'),
 (17761, 'one piece'),
 (17762, 'one piece'),
 (17763, 'one piece'),
 (17764, 'one piece'),
 (17765, 'one piece'),
 (17766, 'one piece'),
 (17767, 'one piece'),
 (17768, 'one piece'),
 (17769, 'one piece'),
 (17960, 'one piece'),
 (17979, 'one piece'),
 (17980, 'one piece'),
 (18008, 'one piece'),
 (18020, 'one piece'),
 (18021, 'one piece'),
 (18022, 'one piece'),
 (18023, 'one piece'),
 (18084, 'one piece'),
 (18087, 'one piece'),
 (18101, 'one piece'),
 (18102, 'one piece'),
 (18127, 'one piece'),
 (18137, 'one piece'),
 (18138, 'one piece'),
 (18139, 'one piece'),
 (18205, 'one piece'),
 (18267, 'one piece'),
 (18268, 'one piece'),
 (18269, 'one piece'),
 (18289, 'one piece'),
 (18290, 'one piece'),
 (18291, 'one piece'),
 (18339, 'one piece'),
 (18353, 'one piece'),
 (18359, 'one piece'),
 (18360, 'one piece'),
 (18379, 'one piece'),
 (18388, 'one piece'),
 (18389, 'one piece'),
 (18390, 'one piece'),
 (18395, 'one piece'),
 (18448, 'one piece'),
 (18449, 'one piece'),
 (18450, 'one piece'),
 (18451, 'one piece'),
 (18519, 'one piece'),
 (18542, 'one piece'),
 (18543, 'one piece'),
 (18550, 'one piece'),
 (18551, 'one piece'),
 (18588, 'one piece'),
 (18589, 'one piece'),
 (18642, 'one piece'),
 (18644, 'one piece'),
 (18650, 'one piece'),
 (18686, 'one piece'),
 (18687, 'one piece'),
 (18688, 'one piece'),
 (18689, 'one piece'),
 (18690, 'one piece'),
 (18691, 'one piece'),
 (18692, 'one piece'),
 (18697, 'one piece'),
 (18698, 'one piece'),
 (18742, 'one piece'),
 (18747, 'one piece'),
 (18752, 'one piece'),
 (18758, 'one piece'),
 (18760, 'one piece'),
 (18767, 'one piece'),
 (18768, 'one piece'),
 (18777, 'one piece'),
 (18809, 'one piece'),
 (18816, 'one piece'),
 (18825, 'one piece'),
 (18974, 'one piece'),
 (18975, 'one piece'),
 (18981, 'one piece'),
 (18982, 'one piece'),
 (18983, 'one piece'),
 (18995, 'one piece'),
 (18996, 'one piece'),
 (19038, 'one piece'),
 (19053, 'one piece'),
 (19054, 'one piece'),
 (19063, 'one piece'),
 (19067, 'one piece'),
 (19102, 'one piece'),
 (19113, 'one piece'),
 (19151, 'one piece'),
 (19171, 'one piece'),
 (19201, 'one piece'),
 (19321, 'one piece'),
 (19322, 'one piece'),
 (19325, 'one piece'),
 (19380, 'one piece'),
 (19381, 'one piece'),
 (19406, 'one piece'),
 (19408, 'one piece'),
 (19423, 'one piece'),
 (19434, 'one piece'),
 (19549, 'one piece'),
 (19550, 'one piece'),
 (19551, 'one piece'),
 (19560, 'one piece'),
 (19561, 'one piece'),
 (19781, 'one piece'),
 (19877, 'one piece'),
 (19942, 'one piece'),
 (19974, 'one piece'),
 (20026, 'one piece'),
 (20064, 'one piece'),
 (20074, 'one piece'),
 (20075, 'one piece'),
 (20080, 'one piece'),
 (20096, 'one piece'),
 (20097, 'one piece'),
 (20110, 'one piece'),
 (20157, 'one piece'),
 (20158, 'one piece'),
 (20159, 'one piece'),
 (20160, 'one piece'),
 (20161, 'one piece'),
 (20162, 'one piece'),
 (20163, 'one piece'),
 (20164, 'one piece'),
 (20165, 'one piece'),
 (20166, 'one piece'),
 (20167, 'one piece'),
 (20168, 'one piece'),
 (20169, 'one piece'),
 (20170, 'one piece'),
 (20171, 'one piece'),
 (20172, 'one piece'),
 (20173, 'one piece'),
 (20174, 'one piece'),
 (20175, 'one piece'),
 (20176, 'one piece'),
 (20177, 'one piece'),
 (20178, 'one piece'),
 (20179, 'one piece'),
 (20180, 'one piece'),
 (20206, 'one piece'),
 (20207, 'one piece'),
 (20221, 'one piece'),
 (20222, 'one piece'),
 (20231, 'one piece'),
 (20238, 'one piece'),
 (20487, 'one piece'),
 (20488, 'one piece'),
 (20489, 'one piece'),
 (20490, 'one piece'),
 (20638, 'one piece'),
 (20675, 'one piece'),
 (20676, 'one piece'),
 (20677, 'one piece'),
 (20678, 'one piece'),
 (20679, 'one piece'),
 (20680, 'one piece'),
 (20681, 'one piece'),
 (20682, 'one piece'),
 (20683, 'one piece'),
 (20684, 'one piece'),
 (20685, 'one piece'),
 (20686, 'one piece'),
 (21451, 'one piece'),
 (21452, 'one piece'),
 (21453, 'one piece'),
 (21454, 'one piece'),
 (21471, 'one piece'),
 (21472, 'one piece'),
 (21473, 'one piece'),
 (21474, 'one piece'),
 (21475, 'one piece'),
 (21476, 'one piece'),
 (21477, 'one piece'),
 (21478, 'one piece'),
 (21479, 'one piece'),
 (21480, 'one piece'),
 (21481, 'one piece'),
 (21482, 'one piece'),
 (21483, 'one piece'),
 (21484, 'one piece'),
 (21485, 'one piece'),
 (21486, 'one piece'),
 (21487, 'one piece'),
 (21497, 'one piece'),
 (21498, 'one piece'),
 (21499, 'one piece'),
 (21500, 'one piece'),
 (21501, 'one piece'),
 (21502, 'one piece'),
 (21503, 'one piece'),
 (21504, 'one piece'),
 (21505, 'one piece'),
 (21506, 'one piece'),
 (21507, 'one piece'),
 (21508, 'one piece'),
 (21509, 'one piece'),
 (21510, 'one piece'),
 (21511, 'one piece'),
 (21513, 'one piece'),
 (21518, 'one piece'),
 (21521, 'one piece'),
 (21583, 'one piece'),
 (21584, 'one piece'),
 (21585, 'one piece'),
 (21696, 'one piece'),
 (21700, 'one piece'),
 (21701, 'one piece'),
 (21702, 'one piece'),
 (21734, 'one piece'),
 (21739, 'one piece'),
 (21740, 'one piece'),
 (21759, 'one piece'),
 (21760, 'one piece'),
 (21794, 'one piece'),
 (21795, 'one piece'),
 (21816, 'one piece'),
 (21870, 'one piece'),
 (21935, 'one piece'),
 (21936, 'one piece'),
 (21956, 'one piece'),
 (21960, 'one piece'),
 (21961, 'one piece'),
 (21962, 'one piece'),
 (22052, 'one piece'),
 (22105, 'one piece'),
 (22106, 'one piece'),
 (22107, 'one piece'),
 (22175, 'one piece'),
 (22176, 'one piece'),
 (22186, 'one piece'),
 (22187, 'one piece'),
 (22188, 'one piece'),
 (22246, 'one piece'),

In [12]:
#pick a movie index
movie_idx=695

In [13]:
#preprocess context
def normalize(d):
    stopwords=nltk.corpus.stopwords.words('english')
    d=re.sub(r'[^a-zA-Z0-9\s]','',d,re.I|re.A)
    d=d.lower().strip()
    sentence_tokens=nltk.word_tokenize(d)
    full_tokens=[t for t in sentence_tokens if t not in stopwords]
    return ' '.join(full_tokens)

In [14]:
test_norm=normalize(new_df['Summary'][0])
print(test_norm)

one piece follows adventures monkey luffy pirate crew order find greatest treasure ever left legendary pirate gold roger famous mystery treasure named one piece

In [24]:
def normalized_corpus(df: pd.DataFrame, descript_col: str, tokens=False):
    max_length=0
    n_corpus=np.vectorize(normalize)
    if tokens:
        norm_corpus=n_corpus(list(df[descript_col])) #normalize each of the descriptions 
        tokenized_corpus=[nltk.word_tokenize(d) for d in norm_corpus]
        if max_length==0:
            max_length=max([len(tok_corp) for tok_corp in tokenized_corpus])
        
        #padding
        padded_tok_corps=pad_sequences(tokenized_corpus, maxlen=max_length, padding='post', dtype=object)
        return np.array(padded_tok_corps)
    else:
        return n_corpus(list(df[descript_col]))

In [16]:
def tf_idf_features(df: pd.DataFrame, normalized_corpus):
    #include both unigrams and bigrams
    tf_idf=TfidfVectorizer(ngram_range=(1,2), min_df=2)
    tfidf_array=tf_idf.fit_transform(normalized_corpus)
    return tfidf_array

In [17]:
def vector_cosine_sim(tfidf_array):
    return pd.DataFrame(cosine_similarity(tfidf_array))

In [51]:
def bm25_weights(tokenized_corpus):
    bm25 = BM25Okapi(tokenized_corpus)
    average_idf = sum(bm25.idf.values()) / len(bm25.idf)

    # Convert tokenized_corpus to a list of NumPy arrays for faster operations
    tokenized_corpus_np = [np.array(doc) for doc in tokenized_corpus]
    
    bm25_weights = {}
    
    # Precompute document lengths and average document length
    doc_lengths = np.array([len(doc) for doc in tokenized_corpus_np])
    avgdl = doc_lengths.mean()

    for term in set(term for doc in tokenized_corpus for term in doc):
        idf = bm25.idf.get(term, average_idf)
        term_weights = []

        # Vectorize term frequency computation
        term_frequencies = np.array([np.sum(doc == term) for doc in tokenized_corpus_np])
        valid_docs = term_frequencies > 0  # Only consider documents where term frequency > 0

        if np.any(valid_docs):
            tf = term_frequencies[valid_docs]
            dl = doc_lengths[valid_docs]
            norm_tf = tf * (bm25.k1 + 1) / (tf + bm25.k1 * (1 - bm25.b + bm25.b * (dl / avgdl)))
            term_weights = idf * norm_tf

        bm25_weights[term] = np.pad(term_weights, (0, len(tokenized_corpus_np) - len(term_weights)), 'constant')

    return pd.DataFrame(bm25_weights)

In [19]:
def bert_weights(corpus):
    model=SentenceTransformer('bert-base-nli-mean-tokens')
    vectors=model.encode(corpus)
    weights=pd.DataFrame(cosine_similarity(vectors))
    return weights

In [49]:
def recommend_movie(df:pd.DataFrame, title_col:str, index: int, vector, n: int):
    """vector: cos_similarity_matrix"""
    similarities=vector.iloc[index].values
    sim_idxs=np.argsort(-similarities)[1:n+1] #indices based on desc similarities; skip the first movie since its what is originally selected
    movies=df[title_col].values
    similar_movies=movies[sim_idxs]
    return similar_movies

In [47]:
movie_summary='Summary'
norm_corp=normalized_corpus(df=new_df, descript_col=movie_summary,)
tfidf_matrix=tf_idf_features(df=new_df, normalized_corpus=norm_corp)
cosine_sim_matrix=vector_cosine_sim(tfidf_matrix)
cosine_sim_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,26355,26356,26357,26358,26359,26360,26361,26362,26363,26364
0,1.000000,0.018423,0.012557,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.017053,0.010103,0.000000,0.000000,0.000000,0.013713,0.000000,0.045604,0.000000
1,0.018423,1.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.027681,0.000000,0.000000,0.000000,0.000000,0.000000,0.004530
2,0.012557,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.014331,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.014241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.060903,0.0,0.009309,0.0,...,0.034803,0.035403,0.039466,0.047332,0.054357,0.032324,0.018693,0.062598,0.000000,0.010428

In [50]:
num_movies=5
reccs=recommend_movie(df=new_df, title_col=title, index=movie_idx, vector=cosine_sim_matrix, n=num_movies)
print(reccs)

#issue here is if the movie titles only contain the same title (further preprocesssing needed)

['one piece' 'one piece' 'one piece' 'one piece' 'one piece']

In [26]:
new_df[new_df[title]=='one piece'].values

array([['one piece',
        'One Piece. Follows the adventures of Monkey D. Luffy and his pirate crew in order to find the greatest treasure ever left by the legendary Pirate, Gold Roger. The famous mystery treasure named "One Piece".'],
       ['one piece',
        'One Piece. Luffy reflects on his past and how he came in possession of his Straw Hat.'],
       ['one piece',
        'One Piece. Luffy convinces Zoro to join her crew, but they must defeat Captain Morgan first. Meanwhile, Koby is accepted as a marine.'],
       ...,
       ['one piece',
        'One Piece. Luffy and Katakuri both land simultaneous blows ending their battle with both of them on the ground. Pekoms helps Luffy by bringing Brulee to allow him to escape from the mirror world.'],
       ['one piece',
        "One Piece. Sanji and Luffy make it back to the sunny. The fire tank pirates make it to their destination but their ship gets destroyed by Big Mom. As the straw hats are surrounded Jinbie's old crew the Sun pirates help them."],
       ['one piece',
        'One Piece. Carrot tells Sanji the news about Pedro. Germa and the Sun pirates continue on fighting with the Big Mom Pirates to allow for the straw hats to escape. Pudding remembers her time with Sanji. Brulee tends to Katakuri.']],
      dtype=object)

In [ ]:
#BM25 method requires documents in the form of tokens
bm_25_norm_corp=normalized_corpus(df=new_df, descript_col=movie_summary, tokens=True) 
bm_25_norm_corp[:3]
bm25_wts=bm25_weights(bm_25_norm_corp)
bm25_wts.head()

In [ ]:
bm25_reccs=recommend_movie(df=new_df, title_col=title, index=movie_idx, vector=bm25_wts_df, n=num_movies)
print(bm25_reccs)

In [69]:
#BERT method (Takes a lot of CPU! Reduced new_df to 10k to test it out)
movie_summary='Summary'
norm_corp=normalized_corpus(df=new_df.iloc[:10000], descript_col=movie_summary,)
bert_wts=bert_weights(norm_corp)

In [72]:
bert_reccs=recommend_movie(df=new_df, title_col=title, index=movie_idx, vector=bert_wts, n=num_movies)
print(bert_reccs[:2])

['one piece: baron omatsuri and the secret island'
 'lupin iii: princess of the breeze']